--extra-index-url https://download.pytorch.org/whl/cu130/

easyocr==1.7.2
numpy==2.3.5
opencv-contrib-python==4.10.0.84
Pillow==12.2.0
PyYAML==6.0.2
requests==2.34.2
openai-whisper
torch==2.11.0
torchvision==0.26.0
typing-extensions==4.15.0
